
/*
    Import font-face
*/

@font-face {
    font-family: "Impact";
    src: url("../fonts/Impact.ttf");
    font-style: normal;
    font-weight: normal;
}

/*
    Layout style
*/
body {
    padding: 20px 0;
    background-image: url(../Images/back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-width:1000px;
    height:100vh;
}
header{
    width:970px;
    margin:auto;
    text-align:center;
    position:relative;
}
footer {
    background: none;
    margin-top: 5px;
    text-align:center;
}
.social{
    position:absolute;
    right:0;
    bottom:10px;
}
.icon {
    width: 200px;
    text-align: center;
}

.icon a {
    width: 32px;
    display: inline-block;
    margin: 0 3px;
}
.logo{
    display:inline-block;
}
.logo img{
   border-radius:50%;
   max-width:80px;
}
.big-logo {
    font-family: "Impact";
    text-align: center;
    color: #585656;
    font-size: 42px;
    margin-top: -15px;
}
.small-logo {
    font-size: 25px;
    margin-top: -15px;
    font-family: "Impact";
    text-align: center;
    color: #585656
}
.another-color {
    color: #c39b33;
}
.menu {
    background-image: url(../Images/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 1060px;
    min-width: 1060px;
    height: 80px;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    -webkit-padding-start: 0px;
}
.menu li {
    display: inline-block;
    width:150px;
}
.menu li a{
    font-size: 24px;
    font-family: "Impact";
    color: rgb(255, 240, 222);
    text-transform: uppercase;
    text-shadow: 0.5px 0.866px 0px rgba(0, 0, 0, 0.44);
}
.body-content {
    margin: auto;
    width: 970px; 
    background-color: rgba(255,255,255,0.5);
    padding-left: 15px;
    padding-right: 15px;
}


/*
    Admin form style
*/

#loginForm h4 {
    text-align: center;
    width: 800px;
    padding: 20px 0 0;
    margin: 0 auto;
    color: #925d21;
    font-family:Impact;
    font-size:24px;
}
#loginForm form{
    width:400px;
    margin:0 auto;
    padding:20px;
    text-align:center;
}
.form-group label {
    color: #b5902d;
    width: 80px;
    display: inline-block;
    text-align: left;
    font-weight: normal;
    font-family: Impact;
    font-size: 20px;
    vertical-align: bottom;
    margin-bottom: 0;
}
.form-group .control {
    width: 200px;
    display: inline-block;
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid #585656;
    border-radius: 0px;
    color: #66480d;
    font-size: 18px;
}
.form-group input[type="submit"] {
    font-size: 18px;
    padding: 5px 40px;
    background-color: #754a00;
    color: #e0cfb9;
    outline: none;
    border: 1px solid #a01a07;
    border-radius: 3px;
    margin-top: 20px;
}
.input-field{
    display:inline-block;
}
body input:focus:required:invalid {
    border: none !important;
}
body input:required:valid {
    border: none !important;
}
.error-message{
    text-align: left;
    color:#a01a07;
    font-weight:bold;
    padding-left: 40px;
    margin-top:5px;
}
.panels h2 {
    margin: 0;
    padding: 20px 0 ;
    text-align: center;
    color: #925d21;
    font-family: Impact;
}
.text-danger ul {
    list-style-type:none;
}
.text-danger ul li {
    color: #a01a07;
    font-family: Impact;
    font-size:16px;
}
.login {
    text-align: center;
    color: #585656;
    font-family: Impact;
    font-size: 14px;
}

.logout {
    text-align: right;
    padding-right: 10px;
}

.logout a {
    font-size: 14px;
    display: inline-block;
    text-align: center;
    color: #585656;
    font-family: Impact;
}

.user-name {
    padding-left: 5px;
    font-size: 16px;
    color: #925d21;
}