
/*
    Import font-face
*/

@font-face {
    font-family: "Impact";
    src: url("../fonts/Impact.ttf");
    font-style: normal;
    font-weight: normal;
}

/*
    Layout style
*/
body {
    padding: 20px 0;
    background-image: url(../Images/back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-width:1000px;
    height:100vh;
}
h2 {
    margin: 0;
    padding: 30px 0;
    text-align: center;
    font-family: Impact;
    color: #585656;
}
header{
    width:970px;
    margin:auto;
    text-align:center;
    position:relative;
}
footer {
    background: none;
    margin-top: 5px;
    text-align:center;
}
.social{
    position:absolute;
    right:0;
    bottom:10px;
}
.icon {
    width: 200px;
    text-align: center;
}
#Google{
    background-image:url(../Images/google.png);
}
#GitHub {
    background-image: url(../Images/github.png);
}
#Vkontakte {
    background-image: url(../Images/vkontakte.png);
}
#Facebook {
    background-image: url(../Images/facebook.png);
}
.icon button {
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    outline: none;
    width: 32px;
    height:32px;
    background-size:cover;
    display: inline-block;
    margin: 0 3px;
}
.logo{
    display:inline-block;
}
.logo img{
   border-radius:50%;
   max-width:80px;
}
.big-logo {
    font-family: "Impact";
    text-align: center;
    color: #585656;
    font-size: 42px;
    margin-top: -15px;
}
.small-logo {
    font-size: 25px;
    margin-top: -15px;
    font-family: "Impact";
    text-align: center;
    color: #585656
}
.another-color {
    color: #c39b33;
}
.menu {
    background-image: url(../Images/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 1060px;
    min-width: 1060px;
    height: 80px;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    -webkit-padding-start: 0px;
}
.menu li {
    display: inline-block;
    padding: 0 30px;
}
.menu li a{
    font-size: 24px;
    font-family: "Impact";
    color: rgb(255, 240, 222);
    text-transform: uppercase;
    text-shadow: 0.5px 0.866px 0px rgba(0, 0, 0, 0.44);
}
.body-content {
    margin: auto;
    width: 970px; 
    background-color: rgba(255,255,255,0.5);
    padding-left: 15px;
    padding-right: 15px;
}


/*
    Admin form style
*/

#loginForm h4 {
    text-align: center;
    width: 800px;
    padding: 20px 0 0;
    margin: 0 auto;
    color: #925d21;
    font-family:Impact;
    font-size:24px;
}
#loginForm form{
    width:400px;
    margin:0 auto;
    padding:20px;
    text-align:center;
}
.form-group label {
    color: #b5902d;
    width: 150px;
    display: inline-block;
    text-align: right;
    font-weight: normal;
    font-family: Impact;
    font-size: 20px;
    vertical-align: bottom;
    margin-bottom: 0;
    margin-right: 3px;
}
.form-group .control {
    width: 200px;
    display: inline-block;
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid #585656;
    border-radius: 0px;
    color: #66480d;
    font-size: 18px;
}
.form-group input[type="submit"] {
    font-size: 18px;
    padding: 5px 40px;
    background-color: #754a00;
    color: #e0cfb9;
    outline: none;
    border: 1px solid #a01a07;
    border-radius: 3px;
    margin-top: 20px;
}
.input-field {
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
body input:focus:required:invalid {
    border: none !important;
}
body input:required:valid {
    border: none !important;
}
.error-message {
    text-align: left;
    color: #a01a07;
    font-weight: bold;
    padding-left: 40px;
    margin-top: 5px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}
/*.panels h2 {
    margin: 0;
    padding: 20px 0 ;
    text-align: center;
    color: #925d21;
    font-family: Impact;
}*/
.text-danger ul {
    list-style-type:none;
}
.text-danger ul li {
    color: #a01a07;
    font-family: Impact;
    font-size:16px;
}
.login {
    text-align: center;
    color: #585656;
    font-family: Impact;
    font-size: 14px;
}

.logout {
    text-align: right;
    padding-right: 10px;
}

.logout a {
    font-size: 14px;
    display: inline-block;
    text-align: center;
    color: #585656;
    font-family: Impact;
}

.user-name {
    padding-left: 5px;
    font-size: 16px;
    color: #925d21;
}
.avatar img {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    border: 1px #585656 solid;
    margin-right: 10px;
    margin-bottom:5px;
}
.avatar{
    text-align:right;
}

/*----Error page */
.error h1 {
    font-size: 120px;
    color: #585656;
    text-align: center;
    padding-top: 30px;
    font-family: Impact;
    margin:0;
}
.error h3 {
    margin:0;
    font-size: 18px;
    color: #585656;
    text-align: center;
    font-family: Impact;
    padding-bottom:20px;
}

.message-info{
    text-align: center;
    padding-bottom: 10px;
    font-size: 20px;
    color: #37a800;
}


/*------Menu*/
.all-dishes{
    padding:10px;
    text-align:center;
    font-size:0;
}
.dish {
    vertical-align:middle;
    background-color: white;
    width: 240px;
    display: inline-block;
    /*border: 1px solid #585656;*/
    text-align: center;
    border-radius: 3px;
    margin: 0 10px 20px;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

a.dish:hover{
    text-decoration:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.dish:hover {
    -webkit-box-shadow: 0px 0px 20px 1px rgba(88,86,86,1);
    -moz-box-shadow: 0px 0px 20px 1px rgba(88,86,86,1);
    box-shadow: 0px 0px 20px 1px rgba(88,86,86,1);
}
.slider-block .dish img, .dish img {
    max-width: 100%;
    width: auto;
    height: 170px;
    display: inline-block;
}
.slider-block {
    position: relative;
    padding: 20px 40px;
    text-align: center;
}
    .left-arrear, .right-arrear, .slider-block a:focus {
        top: 45%;
        position: absolute;
        font-size: 32px;
        z-index: 10;
        color: #925d21;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
.left-arrear:hover, .right-arrear:hover {
    color: #ca8231;
}
.left-arrear {
    left:15px;
}
.right-arrear {
    right:15px;
}
.dish .name {
    margin-top:5px;
    font-size: 24px;
    font-family: "Impact";
    color: #925d21;
    text-transform: uppercase;
}
.rating {
    color: #66480d;
    font-size:30px;
}
.rating-number {
    color: #b5902d;
    font-size:32px;
    margin-left:5px;
    font-weight:bold;
}
.detail, #recall input[type="submit"] {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 30px;
    color: #925d21;
    border: 1px solid #925d21;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
    .detail:hover, #recall input[type="submit"]:hover {
        color: #fff0de;
        background-color: #925d21;
        border: 1px solid #925d21;
        text-decoration: none;
    }
.price, .weight {
    font-family: "Impact";
    color: #925d21;
    width: 110px;
    box-sizing: border-box;
    display: inline-block;
    margin: 10px 0;
    font-size:14px;
}
.for-price, .for-weight{
    font-size:26px;
    font-weight:bold;
}
.admin-menu {
    color: #925d21;
    font-size:32px;
}
.menu-edit {
    color: #337ab7;
}
.menu-remove {
    color: #d9534f;
}
.menu-create {
    color: #5cb85c;
    display:inline-block;
    margin:0 50px;
    vertical-align: middle;
    font-size: 100px;
}
.menu-edit:hover {
    color: #337ab7;
}

.menu-remove:hover {
    color: #d9534f;
}

.menu-create:hover {
    color: #5cb85c;
}
.all-news{
    padding:10px 0;
}
.news {
    width: 100%;
    padding: 10px;
    padding-bottom:30px;
    border-bottom: 3px solid #585656;
    margin-bottom:20px;
}
.news img{
    width:300px;
    display:inline-block;
}
.news .left-block{
    width:calc(100% - 310px);
    display:inline-block;
    padding-left:20px;
    vertical-align:top;
}
.news .left-block .name {
    font-size: 36px;
    font-family: Impact;
        
}
#recall{
    text-align:center;
}
#recall h3{
    font-size:18px;
}
#recall h2 {
    font-size:32px;
    font-family:Impact;
}

#recall input[type="submit"] {
    background-color:transparent;
}
.rating-symbol{
    cursor:pointer;
}
#file{
    display:none;
}
.form-group .file-label {
    text-align: center;
    width: 300px;
    line-height: 20px;
    cursor: pointer;
    vertical-align:middle;
    position:relative;
}
#preload{
    display:none;
    width:200px;
    position:absolute;
    left:200px;
    bottom:0px;
    z-index:2;
}
.form-group label .load-image {
    height: 200px;
    vertical-align: middle;
}
.form-horizontal{
    padding:20px 0;
}