
/*
    Import font-face
*/

@font-face {
    font-family: "Impact";
    src: url("../fonts/Impact.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Halter";
    src: url("../fonts/HALTER.ttf");
    font-style: normal;
    font-weight: normal;
}

/*
    Layout style
*/
/*body input:focus:required:invalid {
    border: none !important;
}
body input:required:valid {
    border: none !important;
}*/
body {
    padding: 20px 0;
    background-image: url(../Images/back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-width: 1000px;
    height: 100vh;
}
h2 {
    margin: 0;
    padding: 30px 0;
    text-align: center;
    font-family: Impact;
    color: #585656;
}
header{
    width:970px;
    margin:auto;
    text-align:center;
    position:relative;
}
footer {
    background: none;
    margin-top: 5px;
    text-align:center;
}
.social{
    position:absolute;
    right:0;
    bottom:20px;
}
.icon {
    width: 200px;
    text-align: center;
}
#Google{
    background-image:url(../Images/google.png);
}
#GitHub {
    background-image: url(../Images/github.png);
}
#Vkontakte {
    background-image: url(../Images/vkontakte.png);
}
#Facebook {
    background-image: url(../Images/facebook.png);
}
.icon button {
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    outline: none;
    width: 32px;
    height:32px;
    background-size:cover;
    display: inline-block;
    margin: 0 3px;
}
.logo{
    display:inline-block;
}
.logo img{
   border-radius:50%;
   max-width:80px;
}
.big-logo {
    font-family: "Impact";
    text-align: center;
    color: #585656;
    font-size: 42px;
    margin-top: -15px;
}
.small-logo {
    font-size: 25px;
    margin-top: -15px;
    font-family: "Impact";
    text-align: center;
    color: #585656
}
.another-color {
    color: #c39b33;
}
.menu {
    background-image: url(../Images/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 1060px;
    min-width: 1060px;
    height: 80px;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    -webkit-padding-start: 0px;
}
.menu li {
    display: inline-block;
    padding: 0 30px;
}
.menu li a{
    font-size: 24px;
    font-family: "Impact";
    color: rgb(255, 240, 222);
    text-transform: uppercase;
    text-shadow: 0.5px 0.866px 0px rgba(0, 0, 0, 0.44);
}
.body-content {
    margin: auto;
    width: 970px; 
    background-color: rgba(255,255,255,0.8);
    padding:20px 15px 10px;
}


/*
    Admin form style
*/

#loginForm h4 {
    text-align: center;
    width: 800px;
    padding: 20px 0 0;
    margin: 0 auto;
    color: #925d21;
    font-family:Impact;
    font-size:24px;
}
#loginForm form{
    width:400px;
    margin:0 auto;
    padding:20px;
    text-align:center;
}
.form-group label {
    color: #b5902d;
    width: 150px;
    display: inline-block;
    text-align: right;
    font-weight: normal;
    font-family: Impact;
    font-size: 20px;
    vertical-align: bottom;
    margin-bottom: 0;
    margin-right: 3px;
}
.form-group .control {
    width: 200px;
    display: inline-block;
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid #585656;
    border-radius: 0px;
    color: #66480d;
    font-size: 18px;
}
.form-group input[type="submit"] {
    font-size: 18px;
    padding: 5px 40px;
    background-color: #754a00;
    color: #e0cfb9;
    outline: none;
    border: 1px solid #a01a07;
    border-radius: 3px;
    margin-top: 20px;
}
.input-field {
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.error-message {
    text-align: left;
    color: #a01a07;
    font-weight: bold;
    padding-left: 40px;
    margin-top: 5px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}
.text-danger ul {
    list-style-type:none;
}
.text-danger ul li {
    color: #a01a07;
    font-family: Impact;
    font-size:16px;
}
.login {
    text-align: center;
    color: #585656;
    font-family: Impact;
    font-size: 14px;
}

.logout {
    text-align: right;
    padding-right: 10px;
}

.logout a {
    font-size: 14px;
    display: inline-block;
    text-align: center;
    color: #585656;
    font-family: Impact;
}

.user-name {
    padding-left: 5px;
    font-size: 16px;
    color: #925d21;
}
.avatar img {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    border: 1px #585656 solid;
    margin-right: 10px;
    margin-bottom:5px;
}
.avatar{
    text-align:right;
}

/*----Error page */
.error h1 {
    font-size: 120px;
    color: #585656;
    text-align: center;
    padding-top: 30px;
    font-family: Impact;
    margin:0;
}
.error h3 {
    margin:0;
    font-size: 18px;
    color: #585656;
    text-align: center;
    font-family: Impact;
    padding-bottom:20px;
}

.message-info{
    text-align: center;
    padding-bottom: 10px;
    font-size: 20px;
    color: #37a800;
}


/*------Menu*/
.all-dishes{
    padding:10px;
    text-align:center;
    font-size:0;
}
.dish {
    color: #925d21;
    position:relative;
    padding-bottom: 10px;
    vertical-align: middle;
    background-color: white;
    width: 240px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    margin: 0 10px 20px;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
a.dish:hover {
    color: #925d21;
}

a.dish:hover{
    text-decoration:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.dish:hover {
    -webkit-box-shadow: 0px 0px 20px 1px rgba(88,86,86,1);
    -moz-box-shadow: 0px 0px 20px 1px rgba(88,86,86,1);
    box-shadow: 0px 0px 20px 1px rgba(88,86,86,1);
}
.slider-block .dish img, .dish img {
    max-width: 100%;
    width: auto;
    height: 170px;
    display: inline-block;
}
.slider-block {
    position: relative;
    padding: 20px 40px;
    text-align: center;
}
    .left-arrear, .right-arrear, .slider-block a#carousel:focus {
        top: 45%;
        position: absolute;
        font-size: 32px;
        z-index: 10;
        color: #925d21;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
.left-arrear:hover, .right-arrear:hover, .left-arrear:focus, .right-arrear:focus {
    color: #ca8231;
}
.left-arrear {
    left:15px;
}
.right-arrear {
    right:15px;
}
.dish .name {
    margin-top:5px;
    font-size: 24px;
    font-family: "Impact";
    color: #925d21;
    text-transform: uppercase;
}
.dish .order {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
}
.dish .order a {
    font-size: 34px;
    background-color: white;
    padding: 4px 6px;
    border-radius: 50%;
    color: #b37a3a;
    border: 1px solid #585656;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.dish .order a:hover {
    color: #925d21;
}
.rating {
    color: #66480d;
    font-size:30px;
}
.rating-number {
    color: #b5902d;
    font-size:32px;
    margin-left:5px;
    font-weight:bold;
}
.detail, #recall input[type="submit"] {
    background-color:transparent;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 30px;
    color: #925d21;
    border: 1px solid #925d21;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
    cursor:pointer;
}
.detail:hover, #recall input[type="submit"]:hover {
    color: #fff0de;
    background-color: #925d21;
    border: 1px solid #925d21;
    text-decoration: none;
}
.price, .weight {
    font-family: "Impact";
    color: #925d21;
    width: 110px;
    box-sizing: border-box;
    display: inline-block;
    margin: 10px 0;
    font-size:14px;
}
.for-price, .for-weight {
    font-size: 26px;
    font-weight: bold;
}
.all-news .admin-menu {
    margin-top:10px;
}
textarea#Description {
    display: block;
    width: 100%;
    height: 150px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.admin-menu {
    color: #925d21;
    width:100%;
    font-size: 32px;
    display: inline-block;
    text-align: center;
}
.menu-edit {
    color: #337ab7;
}
.menu-remove {
    color: #d9534f;
}
.menu-create {
    color: #5cb85c;
    display:inline-block;
    margin:0 50px;
    vertical-align: middle;
    font-size: 100px;
}
.menu-edit:hover {
    color: #337ab7;
}

.menu-remove:hover {
    color: #d9534f;
}

.menu-create:hover {
    color: #5cb85c;
}
.all-news{
    padding:10px 0;
}
.all-news a.menu-create{
    display:block;
    text-align:center;
}
.news-slider {
    padding:0 40px;
}
.header-news {
    padding:0;
}
.news {
    width: 100%;
    padding: 10px;
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(192, 192, 192);
    margin-bottom: 20px;
}
.news:last-child {
    border-bottom: none;
}
.news .right-block {
   text-align:center;
}
.news .right-block img{
    display:inline-block;
    height:auto;
    max-width:100%;
}
.news .right-block,.dish-detail img {
    width: 300px;
    margin-bottom: 10px;
    display: inline-block;
}
.dish-detail img {
    margin-bottom: 0px;
}
.news .left-block, .dish-detail .left-block {
    text-align: left;
    width: calc(100% - 310px);
    display: inline-block;
    padding-left: 50px;
    vertical-align: top;
}
.news .left-block .name {
    font-size: 36px;
    font-family: Impact;
        
}
#recall{
    text-align:center;
}
#recall h3{
    font-size:18px;
}
#recall h2 {
    font-size:32px;
    font-family:Impact;
}

#recall input[type="submit"] {
    background-color:transparent;
}
.rating-symbol{
    cursor:pointer;
}
#file{
    display:none;
}
.form-group .file-label {
    text-align: center;
    width: 300px;
    line-height: 20px;
    cursor: pointer;
    vertical-align:middle;
    position:relative;
}
#preload{
    display:none;
    width:200px;
    position:absolute;
    left:200px;
    bottom:0px;
    z-index:2;
}
.form-group label .load-image {
    height: 200px;
    vertical-align: middle;
}
.form-horizontal{
    padding:20px 0;
}

.dish-detail .right-block
{
    width:300px;
    display:inline-block;
}
.dish-detail .left-block {
    padding-top: 30px;
    font-size: 0;
}
.dish-detail .left-block .title {
    font-family: "Impact";
    color: #585656;
    font-size: 42px;
}

.dish-detail .left-block .rating {
    font-size:36px;
    margin-top:10px;
}
.dish-detail .price, .dish-detail .weight {
    width:50%;
}
.comment{
    width:60%;
    margin-top:30px;
    margin-left:20px;
    text-align:right;
}
.comment textarea {
    display: block;
    width: 100%;
    height: 100px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.comment input[disabled] {
    color: #fff0de;
    background-color: rgba(146, 93, 33, 0.7);
    border: 1px solid #925d21;
}
.comment .text-danger {
    color: #a94442;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-align:center;
}
.all-reviews {
    width: 100%;
    margin-top: 10px;
    padding-left: 20px;
}
.review {
    padding-top: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e6e1da;
}
.review:last-child{
    border-bottom: none;
}
.review img{
   border-radius:50%;
   width:50px;
   height:50px;
}
.review img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display:inline-block;
    vertical-align:top;
}
.review .review-container
{
    width:calc(100% - 65px);
    display:inline-block;
    margin-left:10px;
}
.review .review-container .name {
    color: #585656;
    font-weight:bold;
    font-size:16px;
}
.review .review-container .date {
    font-size: 11px;
    color: #808080;
}
    .review .review-container .pre-text {
        font-family: monospace;
        margin-bottom: 20px;
        font-size: 16px;
        color: #585656;
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        margin-top: 15px;
    }
.review  .comment {
    margin-top: 10px;
    margin-left:10px;
    text-align: right;
}
.review .admin-review {
    margin-top: 20px;
    padding-bottom: 10px;
}
.review .admin-review pre {
    margin-top: 25px;
}
.plate, .summary {
    display: inline-block;
}
.basket{
    position:absolute;
    left:70px;
    bottom:10px;
    padding-top:10px;
}
.plate{
    background-image:url("../Images/bucket.png");
    width:70px;
    height:50px;
    background-repeat:no-repeat;
    background-size:contain;
    cursor:pointer;
    position:relative;
}
.plate:hover {
    text-decoration:none;
    color: #585656;
}
.plate .count {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding-top: 8px;
    text-align: center;
    font-family: "Impact";
    font-size: 22px;
    color: #585656;
}
.summary {
    vertical-align: top;
    font-family: "Impact";
    color: #925d21;
    font-size: 18px;
    text-align: left;
    margin-left: 5px;
}
.basket .my-order {
    border-bottom: 1px solid rgba(88, 86, 86, 0.29);
    line-height: 18px;
    margin-bottom: 5px;
}
.order-list {
    width: 100%;
    text-align: center;
}
.order-list td{
    padding:15px 0;
    font-size:16px;
}
.button-block{
    margin:20px 0;
    text-align:center
}
.button-block a{
    margin:0 20px;
} 
.clear{
    text-align:left;
}
.order-block{
    text-align:center;
}
.order-block .item{
    margin-bottom:20px;
}
.order-block input[type="text"] {
    border: none;
    border-bottom: 1px solid #606060;
    outline: none;
    background-color: transparent;
    width:300px;
}
.order-block .name {
    font-weight:bold;
    font-size:18px;
}
#order-form {
    display: inline-block;
    text-align: left;
}
.wrapper-pay, .order-time {
    font-size: 0;
    margin-top: 10px;
}
.wrapper-pay .wrapper-input {
    display: inline-block;
    width: 200px;
    font-size:16px;
}
.wrapper-pay .wrapper-input input {
    height: 18px;
    width: 18px;
    vertical-align: top;
    margin:0;
    margin-right:10px;
}
.wrapper-pay .text{
    display:inline-block;
    width:calc(100% - 200px);
    font-size:16px;
}
.order-time .name {
    display: inline-block;
    vertical-align:top;
    width:200px;
}
.order-time .item {
    margin:0 30px;
    font-size:18px;
    display: inline-block;
}
.order-time .item .time{
    font-size: 14px;
    margin-bottom:5px;
}
.order-time select {
    padding:5px 10px;
}
.delivery{
    margin-top:20px;
}
.order-block input{
    font-size:18px;
}
input[type="tel"] {
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #606060;
}
.delivery input {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin: 0;
}
.order-block .cart {
    background-image: url(../Images/cart.png);
    background-position: center;
    background-size: contain;
    height: 289px;
    width: 571px;
    margin-top: 50px;
    padding: 90px 30px 0;
    position:relative;
}
.cart-name {
    font-size: 16px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
}
.cart-number {
    margin-top:30px;
}
    .cart-number input[type="text"] {
        color: #5b6261;
        font-family: Halter;
        padding: 5px 10px;
        width: 75px;
        border-style: solid;
        border-width: 1px;
        border-color: #37705c;
        border-radius: 2px;
        background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(215,242,236) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(215,242,236) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(215,242,236) 100%);
        /*opacity: 0.6;*/
        box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.35),inset 0px 1px 4px 0px rgba(0, 66, 113, 0.3);
}
.datetime{
    width:200px;
    font-size:0;
    margin-top:20px;
    margin-left:30px;
}
.datetime .item{
    display:inline-block;
    margin-right:20px;
}
    .datetime .item .title {
    font-size: 13px;
    font-family: "Arial";
    color: rgba(215, 255, 240, 0.902);
    text-transform: uppercase;
    line-height: 1.231;
    text-align: left;
}
    .datetime .item select {
        font-size: 16px;
        padding: 5px 15px 5px 5px;
        margin-top: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #235a48;
        border-radius: 2px;
        background-image: -moz-linear-gradient( 90deg, rgb(195,234,221) 0%, rgb(255,255,255) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(195,234,221) 0%, rgb(255,255,255) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(195,234,221) 0%, rgb(255,255,255) 100%);
        box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.35),inset 0px 1px 4px 0px rgba(0, 66, 113, 0.3);
    }
.cart .cvv {
    position: absolute;
    right: 30px;
    top: 99px;
}
.cvv .title {
    font-size: 13px;
    font-family: "Arial";
    color: rgba(208, 255, 238, 0.902);
    text-transform: uppercase;
    line-height: 1.231;
    text-align: left;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    margin-bottom:10px;
}
.cvv input[type="text"] {
    margin-top:1px;
    font-size:18px;
    padding: 7px 10px;
    width: 75px;
    font-family:Halter;
    text-align:center;
    border-style: solid;
    border-width: 1px;
    border-color: #a6a6a6;
    border-radius: 2px;
    background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(238,238,238) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(238,238,238) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(238,238,238) 100%);
    box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.35),inset 0px 1px 4px 0px rgba(66, 66, 66, 0.3);
}
.delivery-address{
    display:none;
}
td.all-sum {
    text-align: right;
    padding-right: 20px;
}
.table-head{
    font-weight:bold;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #e4e4e4;
}
.table-striped > tbody > tr:nth-of-type(even) {
    background-color: white;
}
.table-hover > tbody > tr:hover {
    background-color: #efefef;
}
td.all-sum .whole-price{
    font-weight:bold;
    font-size:18px;
}
td.clear a {
    padding-left: 20px;
    text-decoration: none;
    color: #925d21;
    cursor:pointer;
    font-weight:bold;
}
td.change-count span{
    margin:0 10px;
    display:inline-block;
}
td.change-count a {
    font-size: 20px;
    cursor:pointer;
}
td.change-count a.add-one {
    
    color: #01ab4e;
}
td span,td a{
    vertical-align:middle;
}
td.change-count a.remove-one {
    color: #925d21;
}
td.change-count a.remove-all {
    color: #fd0000;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #a2a1a1;
}
.btn-group{
    text-align:center;
    margin:20px 0;
}
.btn-group .detail{
    margin: 0 30px;
    display:inline-block;
}
.final-summ{
    text-align:left;
}
dt{
    margin:10px 0;
}

dd{
    padding:10px 0;
}
.dl-horizontal dt {
    width: 210px !important;
}
.dl-horizontal dd {
    margin-left: 230px;
}

.vert_bar ul {
    list-style-type: none;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 15%;
    min-width: 50px;
    font-family: "Impact";
    background-color: transparent;
    overflow: auto;
}

.vert_bar li a {
    display: block;
    color: #925d21;
    padding: 8px 16px;
    text-decoration: none;
}

.vert_bar li a:hover {
    background-color: rgb(238,238,238);
}