
@{
    ViewBag.Title = "Order";
}

<div class="order-block">
    @using (Html.BeginForm("Delete", "Menu", FormMethod.Post, new { id = "order-form"}))
    {
        <div class="item">
            <div class="name">
                ПІБ
            </div> 
            <input type="text" name="name" value="" required="" />
        </div>
        <div class="item">
            <div class="name">
                Оберіть варіант оплати
            </div>
            <div class="wrapper-pay">
                <div class="wrapper-input"><input type="radio" name="pay" value="" />Аванс</div>
                <div class="text">40 грн</div>
            </div>
                <div class="wrapper-pay">
                    <div class="wrapper-input">
                        <input type="radio" name="pay" value="" />Повна сума
                    </div>
                    <div class="text">
                        200 грн
                    </div>
                </div>
            <div class="delivery">
                <input type="checkbox" name="delivery" value="" /> Доставка
            </div>
            
            </div>
        <div class="item delivery-address">
            <div class="name">
                Адреса
            </div>
            <input type="text" name="address" value="" />
        </div>
        <div class="order-time">
            <div class="name">Час замовлення</div>
            <div class="item">
                <div class="time">Година</div>
                <select>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                </select>
            </div>
            <div class="item">
                <div class="time">Хвилина</div>
                <select>
                    <option>0</option>
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                </select>
            </div>
        </div>
        <div class="cart">
            <div class="cart-name">Номер картки</div>
            <div class="cart-number">
                <input type="text" maxlength="4" pattern="/d{4}" name="cart_1" id="cart_1" value="" />
                <input type="text" maxlength="4" name="cart_2" id="cart_2" value="" />
                <input type="text" maxlength="4" name="cart_3" id="cart_3" value="" />
                <input type="text" maxlength="4" name="cart_4" id="cart_4" value="" />
            </div>
            <div class="datetime">
                <div class="item">
                    <div class="title">Місяць</div>
                    <select>
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                        <option>05</option>
                        <option>06</option>
                        <option>07</option>
                        <option>08</option>
                    </select>
                </div>
                <div class="item">
                    <div class="title">Рік</div>
                    <select>
                        <option>18</option>
                        <option>19</option>
                    </select>
                </div>
            </div>
            <div class="cvv">
                <div class="title">СvС Code</div>
                <input type="text" name="cvv" value="" />
            </div>
        </div>
        <div class=pay-summ></div>
        @*@Html.ActionLink("Скасувати", "Details", new { id = @item.Id }, new { @class = "detail" })*@
        @*@Html.ActionLink("Оплатити", "Details", new { id = @item.Id }, new { @class = "detail" })*@
    }
</div>