@model int

@{
    ViewBag.Title = "ProcessOrder";
}

<h2>Дякуємо за замовлення!</h2>
<div class="align-center">
    @Html.ActionLink("Повернутися на головну", "Index", "Home", null, new { @class = "detail" })
    @Html.ActionLink("Переглянути чек", "GetReceipt", "Basket", new { id = Model }, new { target = "_blank", @class = "detail" })
</div>
