@model GarageWeb.Models.ViewModel.OrderViewModel

@{
    ViewBag.Title = "ProcessOrder";
}

<div id="liqpay_checkout"></div>
<script src="https://static.liqpay.com/libjs/checkout.js" async></script>
<script>
    
  window.LiqPayCheckoutCallback = function() {
    LiqPayCheckout.init({
        data: "@ViewBag.data",
        signature: "@ViewBag.sign",
      embedTo: "#liqpay_checkout",
      mode: "embed" // embed || popup,
       }).on("liqpay.callback", function(data){
           
			}).on("liqpay.ready", function(data){
                $.post("/Basket/AddOrder", { status: data.status, order: Model });
			}).on("liqpay.close", function(data){
				// close
		});
    };
</script>
